.mainTitle {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-family: coolvetica;
}

.index-hr {
    top: 20px;
    border: none;
    height: 2px;
    width: 1000px;
    background-color: rgb(30, 72, 200);
    margin-bottom: 50px;
    margin: 30px auto;
}

.nav-hr {
    border: none;
    height: 2px;
    width: 1500px;
    background-color: rgb(30, 72, 200);
    margin: 10px auto;
  }

 /* News */
.newsBigtext {
    font-size: 30px;
    color: black;
}

.newsBox {
    flex: 1;
    height: fit-content;
    width: 1000px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: coolvetica;
}

    .newsBox:hover {
        transform: scale(1.05);
        box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.7);
    }

.newsHR {
    width: 90%;
    margin: 30px auto;
}

/* Background color of the index site */
.indexBody {
    background-color: rgb(22, 25, 35);;
}